
@import "tailwindcss";

body {
    font-family: "Manrope", sans-serif;
}

.font-serif-display {
    font-family: "Cormorant Garamond", serif;
}

body {
	font-family: "Poppins", sans-serif;
}

.font-poppins {
	font-family: "Poppins", sans-serif;
}

.font-cormorant {
	font-family: "Cormorant Garamond", serif;
}